.container-fluid {
  max-width: 1250px;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

#above-the-fold {
  background: url('../images/hackerspace-header.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding-bottom: 700px;
  /* Set for demo purpose only */
}

#header-nav .nav-logo-text {
  color: #ffff;
  padding-left: 20px;
}

.navbar-expand-md {
  display: flex;

  justify-content: space-between;
}

#header-row .nav-container {
  display: flex;
  justify-content: space-between;
}

#header-nav .nav-link {
  color: #fff;
  padding: 8px 30px;
}

#header-nav .action-button {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 7px 20px;
  margin-left: 20px;
}

#header-container {
  padding-top: 100px;
}

#header-side #header-title {
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 65px;
}

@media (max-width: 600px) {
  #header-side #header-title {
    font-size: 30px;
  }
}

#header-side #header-title span {
  color: #b2b0ee;
}

#header-side #header-content {
  margin-right: 30px;
}

#header-side .btn-grp > a {
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 14px 50px;
}

.btn-grp .join-us-btn {
  background-color: #ffff;
  color: #5d55ff;
  font-weight: 600;
}

.btn-grp .join-us-btn-icon {
  width: 24px;
  padding: 0 5px;
}

.btn-grp .why-btn {
  color: #ffff;
}

#header-img {
  padding-left: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

#header-img img {
  width: 300px;
}

#separator-1 .achievement-title {
  font-size: 28px;
  margin-top: 10px;
  font-weight: 600;
  word-spacing: 3px;
}

#separator-1 {
  background-color: #f2f8ff;
  padding: 100px 0;
}

#separator-1 .content-title {
  font-size: 24px;
  font-weight: 600;
}

#separator-1 .content {
  padding: 10px 30px;
}

#separator-1 .content > p {
  font-size: 15px;
  margin-top: 15px;
  color: #797979;
}

#separator-1 .icon {
  margin: 0px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

#separator-1 .left-icon {
  background-color: #b8b5ff;
}

#separator-1 .right-icon {
  background-color: #9ecbff;
}

#hacking-together {
  background: url('../images/Hacking-together-background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 270px 0;
  max-width: 1100px;
  z-index: -2;
}

#hacking-together {
  margin: 50px auto;
}

#hacking-together #hacking-together_infront {
  border-radius: 20px;
  width: 450px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-20%, 10px);
  z-index: 0;
}

#hacking-together #hacking-together_behind {
  border-radius: 20px;
  width: 400px;
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(10%, 0px);
  z-index: -1;
}

#what-do-we-do {
  padding: 100px 0;
}

#what-do-we-do .title > p {
  padding: 2em 0;
}

#what-do-we-do .title h1 {
  font-weight: 800;
}

#what-do-we-do .side-content h2 {
  font-size: 22px;
  margin-top: 15px;
}

#what-do-we-do .side-content p {
  color: #797979;
}

#what-do-we-do .top-title {
  margin: 0 0px;
}

#what-do-we-do .top-line {
  border-bottom: 3px solid #80bbff;
  float: right;
  width: 40px;
}

#what-do-we-do .bottom-line {
  border-top: 3px solid #5d55ff;
  float: left;
  width: 45px;
}

#what-do-we-do .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 35px;
  padding: 12px;
  border-radius: 12px;
}

#what-do-we-do .side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#what-do-we-do .icon-1 {
  background-color: #ff5c00;
}

#what-do-we-do .icon-2 {
  background-color: #ff9900;
}

#what-do-we-do .icon-3 {
  background-color: #ffb800;
}

#what-do-we-do .box-content {
  margin-bottom: 25px;
  width: 510px;
  padding: 15px 20px 15px 0;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0px 16px 40px rgba(130, 130, 130, 0.25);
  align-items: center;
}

#what-do-we-do .image-physical-session {
  display: flex;
  align-items: center;
  justify-content: center;
}

#what-do-we-do .physical-session {
  width: 430px;
  height: 430px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 16px 40px rgba(130, 130, 130, 0.25);
}

@media (max-width: 510px) {
  #what-do-we-do .box-content {
    margin-bottom: 25px;
    width: 90%;
  }

  #what-do-we-do .physical-session {
    width: 90%;
  }
}

#separator-2 {
  background-color: #efeeff;
  padding: 60px 0 80px 0;
}

#separator-2 h1 {
  padding-bottom: 15px;
  color: #0800a4;
  font-size: 32px;
  font-weight: 600;
}

#separator-2 h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

/* #statistics {
  padding: 3em 0;
  Set for demo purpose only 
} */
#statistics {
  padding: 100px 0;
}

#statistics .top-title {
  margin: 0px 0px 40px 0px;
}

#statistics .top-line {
  border-bottom: 3px solid #80bbff;
  float: left;
  width: 30px;
}

#statistics .bottom-line {
  border-top: 3px solid #5d55ff;
  float: right;
  width: 45px;
}

#statistics h1 {
  font-weight: bold;
}

#statistics .card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#statistics .card {
  border-radius: 8px;
  box-shadow: 0px 16px 40px rgba(130, 130, 130, 0.25);
  width: 230px;
  height: 230px;
  border: none;
}

#statistics .span {
  color: #5d55ff;
  font-size: 22px;
  font-weight: bold;
}

#statistics .card-body {
  font-weight: 600;
  font-size: 18px;
}

#statistics .icon {
  margin: 30px auto;
  background-color: #5d55ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

#statistics .icon > img {
  width: 32px;
}

#separator-3 {
  background-color: #f2f8ff;
  padding: 60px 0 30px 0;
}

#separator-3 h4 {
  color: #000000;
}

#separator-3 p {
  text-align: right;
}

#events-and-activities {
  padding: 100px 0px;
}

#events-and-activities .top-title {
  margin: 0px 0px;
  padding-bottom: 80px;
}

#events-and-activities .top-line {
  border-bottom: 3px solid #80bbff;
  float: right;
  width: 40px;
}

#events-and-activities .bottom-line {
  border-top: 3px solid #5d55ff;
  float: left;
  width: 45px;
}

#events-and-activities h1 {
  font-weight: bold;
}

#events-and-activities .col {
  margin-bottom: 25px;
}

#events-and-activities .card {
  width: 360px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 16px 40px rgba(114, 114, 114, 0.25);
}

@media (max-width: 1200px) {
  #events-and-activities .card {
    width: 90%;
    margin: 0 auto;
  }
}

#events-and-activities .card-title {
  font-size: 18px;
}

#events-and-activities .card-body {
  padding: 30px;
  border-radius: 0px 0px 10px 10px;
}

#events-and-activities .card > img {
  border-radius: 10px 10px 0px 0px;
}

#events-and-activities .card .events-icon {
  width: 18px;
  margin-right: 15px;
}

.animation {
  height: 90vh;
  position: relative;
  overflow: hidden;
  padding-bottom: 200px;
}

.content-box-1 {
  position: absolute;
  background-color: #8fe4ff;
  width: 420px;
  height: 90px;
  font-size: 30px;
  top: 50px;
  left: 175px;
  text-align: center;
  border-radius: 20px;
  padding: 20px 20px;
  color: #052c97;
}

.content-box-2 {
  position: absolute;
  background-color: #c8c6ff;
  opacity: 0.5;
  width: 300px;
  height: 90px;
  font-size: 30px;
  right: 200px;
  bottom: 200px;
  border-radius: 20px;
  text-align: center;
  padding: 20px 20px;
  color: #0d0597;
}

.content-box-2 p {
  opacity: 1;
}

.content-box-3 {
  position: absolute;
  background-color: #7fe6ee;
  opacity: 0.5;
  width: 75%;
  font-size: 18px;
  /* height: 90px; */
  border-radius: 20px;
  text-align: center;
  padding: 20px 20px;
  color: black;
  overflow: visible;
  bottom: 200px;
  z-index: 10;
  /* top: 100%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.rocket {
  height: 150px;
  position: absolute;
  transform: rotate(-25deg);
  top: 50%;
  left: 10%;
  z-index: 99;
}

#registration {
  background: url('../images/space-background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1600px 0 200px 0;
  position: relative;
}

#registration form {
  text-align: center;
  background-color: #f2f8ff;
  width: 600px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

@media (max-width: 600px) {
  #registration form {
    width: 90%;
  }
}

#registration .form-title {
  font-weight: bold;
}

#registration .form-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#registration .form-input {
  margin-right: 15px;
}

#registration .form-input > input {
  border-radius: 8px;
  border: 1px solid #9895e0;
  width: 500px;
  height: 40px;
  padding-left: 12px;
}

#registration .submit-button {
  background-color: #5d55ff;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  color: #ffff;
  border-radius: 20px;
  cursor: pointer;
}

#registration .form-note {
  padding-top: 50px;
}

#footer .space-img {
  position: absolute;
  bottom: 50px;
  right: 220px;
}

#footer .space-img > img {
  width: 190px;
}

#footer .footer-links {
  color: #ffff;
  position: absolute;
  bottom: 130px;
  right: 480px;
}

#footer .footer-links .welcome-word {
  font-size: 25px;
  text-align: center;
}

#footer .footer-links .welcome-word-title {
  font-size: 45px;
}

#footer .footer-links .social-media-info {
  font-size: 20px;
  text-align: left;
}

.social-media-container {
  justify-content: center;
}

#footer .footer-icon-wrapper {
  width: 10%;
  margin: 0 8px 8px 0;
}

#footer .footer-icon {
  width: 24px;
}

#footer .social-media-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.black-bar {
  background-color: #222222;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  color: #ffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-bar p {
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  #footer .space-img > img {
    width: 100px;
  }
  #footer .space-img {
    right: 20px;
  }

  #footer .footer-links {
    bottom: 220px;
    right: 25px;
    font-size: 12px;
  }
  #footer .footer-links .welcome-word {
    font-size: 16px;
  }
}
